<!DOCTYPE html>
<html lang="en">
	<head>
		<title>blog :: astrojason.com</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
			integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
			crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
		<link
			rel="stylesheet"
			href="/css/astrojason.css" />
	</head>
	<body>
		<div class="blog-masthead">
			<div class="container">
				<nav class="nav blog-nav">
					<a class="nav-link active" href="/">blog</a>
				</nav>
			</div>
		</div>
		<div class="blog-header">
			<div class="container">
				<h1 class="blog-title">AstroBlog</h1>
				<p class="lead blog-description">Where I try and make sense of what is going on.</p>
			</div>
		</div>
		<div class="container">
			<div class="row">
        <div class="col-sm-9">
          {{ content }}
        </div>
        <div class="col-sm-3">
          <ul class="list-unstyled">
            {% for post in site.posts limit:5 %}
              <li><a href="{{ post.id }}">{{ post.title }} <small>{{ post.date | date: "%m/%d/%Y" }}</small></a></li>
            {% endfor %}
          </ul>
        </div>
			</div>
		</div><!-- /.container -->
		<footer class="blog-footer">
			<ul class="nav justify-content-center">
				<li class="nav-link">
          <a href="http://github.com/astrojason" target="_blank">
            <i class="fa fa-github-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-link">
          <a href="https://twitter.com/theastrojason" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-link">
          <a href="https://www.facebook.com/astrojason" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-link">
          <a href="https://www.instagram.com/astrojason/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
			</ul>
		</footer>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script
			src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
			integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
			crossorigin="anonymous">
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
			integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
			crossorigin="anonymous">
		</script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
			integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
			crossorigin="anonymous">
		</script>
	</body>
</html>
